



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <div id="wrapper">

        <!-- start header -->

        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="pageTitle">About Us</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">

                <div class="about">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-logo">
                                <h3>We are awesome <span class="color">TEAM</span></h3>
                                <p style="font-size:15px;color:black">
                                    The ignition for the start-up of Smart Health Disease Prediction in 2020 was to serve humanity with the lowest price of medicine without any quality compromise.
                                    <br />
                                    “Our dream is to serve humanity by providing premium quality medicines, Appointment at the lowest price.”
                                    And helping the people to get information about thier disease by entering their symptoms.<br />
                                </p>    
                                <a href="#" class="btn btn-color">Read more</a>
</div>
                    </div><br />

                    <hr>
                    <br>

                    <div class="row">
                        <div class="col-md-4">
                            <!-- Heading and para -->
                            <div class="block-heading-two">
                                <h3><span>Why Choose Us?</span></h3>
                            </div>
                            <p>
                                Most economical and cost-effective medicines in the market.
                                The main objective of Smart Health Disease Prediction is to provide products to the general public at most economical prices (up to 30-40 % lesser cost) so that economically weak (poor) people can easily afford
                                To be made available at all Leading Retail Outlets as well as Online pharmacy 24 hours. So, that patients may get their medicines at an affordable MRP at the doorstep or near to their home.
                                To provide Appointment from your trusted doctors at your own time .In this busy world you can check your disease my entering your symptoms our websiyte can give you best possible probability of diseases which you can have.Another effort is to guide you in the situation in which you need medical help but you don't have one ,We provide you with that guidence ,what you should do in emergercy situations.'
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="block-heading-two">
                                <h3><span>Our Missions</span></h3>
                            </div>
                            <ul class="list2">
                                <li><a href="#">To provide the premium quality medicine to masses.</a></li>
                                <li><a href="#">To conduct our business with rectitude and loyalty.</a></li>
                                <li><a href="#">To maintain best customer relationships through best services.</a></li>
                                <li><a href="#">To provide customers, easy availability of medicines at affordable prices.</a></li>
                                <li><a href="#">To Provide best Appointment in your available time .</a></li>
                                <li><a href="#">To Provide you the probable prediction of your disease according to your given symptoms .</a></li>
                                <li><a href="#">To Provide you guidence about the emergengency situations .</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4">

                            <h3>Need Of This</h3>
                            <ul class="list2">
                                <li><a href="#">Patients have healthcare needs that extend way beyond a visit to the clinic or hospital</a></li>
                                <li><a href="#">It takes a proper understanding of a patient's personalized needs to diagnose and treat an illness</a></li>
                                <li><a href="#">Its difficult and risky to interpret one's own health data without a real healthcare provider</a></li>
                                <li><a href="#">Variations in health conditions go unnoticed in between hospital visits</a></li>
                                <li><a href="#">Enable healthcare providers to stay connected with their patients & manage their practice online</a></li>
                                <li><a href="#">Social networks and messaging apps are not the right places to be discussing health issues</a></li>
                            </ul>
                        </div>

                    </div>



                    <br>
                    <!-- Our Team starts -->
                    <!-- Heading -->
                    <div class="block-heading-six">
                        <h4 class="bg-color">Our Team</h4>
                    </div>
                    <br>

                    <!-- Our team starts -->

                    <div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <!-- Team Member -->
                                <div class="team-member">
                                    <!-- Image -->
                                    <img class="img-responsive" src="~/content/img/team1.jpg" alt="">
                                    <!-- Name -->
                                    <h4>Johne Doe</h4>
                                    <span class="deg"><strong>Sr.Doctor</strong></span>
                                    <p>Perspiciaatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <!-- Team Member -->
                                <div class="team-member">
                                    <!-- Image -->
                                    <img class="img-responsive" src="~/content/img/team2.jpg" alt="">
                                    <!-- Name -->
                                    <h4>Jennifer</h4>
                                    <span class="deg"><strong>Sr.Surgeon</strong></span>
                                    <p>Perspiciaatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <!-- Team Member -->
                                <div class="team-member">
                                    <!-- Image -->
                                    <img class="img-responsive" src="~/content/img/team3.jpg" alt="">
                                    <!-- Name -->
                                    <h4>Christean</h4>
                                    <span class="deg"><strong>Manager</strong></span>
                                    <p>Perspiciaatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <!-- Team Member -->
                                <div class="team-member">
                                    <!-- Image -->
                                    <img class="img-responsive" src="~/content/img/team4.jpg" alt="">
                                    <!-- Name -->
                                    <h4>Kerinele rase</h4>
                                    <span class="deg"><strong>Chairman</strong></span>
                                    <p>Perspiciaatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Our team ends -->


                </div>

            </div>
        </section>
