@using DISEASE_PREDICTION.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model1 db = new Model1();

}




<div id="wrapper" class="home-page">
    <!-- start header -->
    <!-- end header -->
    <section id="banner">

        <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
                <li>
                    <img src="~/content/img/slides/1.jpg" alt="" />
                    <div class="flex-caption container">
                        <h3>Caring for Health</h3>
                        <p>Every Community,Every Neighbourhood,Every Life Whole and Healthy</p>
                        <a class="btn btn-success" href="@Url.Action("doctor","appointment")">Get Appointment</a>
                    </div>
                </li>
                <li>
                    <img src="~/content/img/slides/2.jpg" alt="" />
                    <div class="flex-caption container">
                        <h3>Best Equipments</h3>
                        <p>Delivering cutting-edge medical care ,with compassion </p>
                    <a class="btn btn-success" href="@Url.Action("index","predictin1")">Get Prediction</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end slider -->
    </section>
    <br />
    <section class="txt-area">
        <div class="container">
            <div class="row">
                <h1 class="aligncenter">We Care You</h1><br />
                <div class="col-lg-6">
                    <div class="aligncenter">
                        <p class="align-left">
                            Smart Health Disease Prediction is Pakistan’s leading digital healthcare platform that brings you complete health facilities right to your doorstep. Order medicines online with our e-pharmacy or Get appointment from top doctors online in Pakistan from our website right from the comfort of your home. We pride ourselves in providing our users with authentic medicines, medical equipment and health supplements in Pakistan.<br />
                            Smart Health Disease Prediction is an online pharmacy that sells genuine medicines at a discounted rate. We offer the lowest medicine price in Pakistan.
                            <b>  Do you struggle to meet your health goals and maintain a healthy lifestyle? Worry not</b>,  Smart Health Disease Prediction has introduced various health packages and information about emergency situations with which you can stick to a healthier routine and lifestyle.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="~/Content/img/works/app.jpg" height="300" width="150" />
                </div>
            </div>
        </div>
    </section>
    <br />
    <section >       
            <div class="row">
                <h1 class="aligncenter">All We Have</h1>
                <br />
                <ul id="thumbs" class="portfolio">
                    <li  class="col-sm-3 item-thumbs">
                        <a title="Prediction" class="" href="/predictin1/index">
                            <img src="~/Content/img/works/prediction.png"  height="150" width="100"/>
                        </a>
                    </li> 
                    <li class="col-sm-3">
                        <a class="hover" title="Appointment" href="/appointment/doctor">
                            <img src="~/Content/img/works/app icon.png"  height="150" width="100"/>
                        </a>
                    </li>  
                    <li class="col-sm-3">
                        <a class="hover" title="Medicine" href="/Home/services">
                            <img src="~/Content/img/works/medicon.png"height="150" width="100" />
                        </a>
                    </li> <li class="col-sm-3">
                        <a class="hover" title="FirstAid" href="/home/portfolio">
                            <img src="~/Content/img/works/firstaid logo.jpg"height="150" width="100" />
                        </a>
                    </li>
                </ul>
            </div>
    </section>
    
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="features">
                    <div class="col_lg_3">

                    </div>
                </div>
            </div>
        </div>
    </section>
  

    
    <section class="aboutUs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter"><h1 class="aligncenter">Welcome!</h1>We are setting standards for predict disease.</div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/content/img/img1.png" alt="">
                    <div class="space"></div>
                </div>
                <div class="col-md-6">
                    <p>Living in a place away from hospitals and medical aid, it is often difficult for some people in rural area to diagnose a disease at an early state. Though hospitals in urban areas are using advanced technology for diagnosis and prognosis, disease prediction is one of the hypercritical tasks. Providing sophisticated and accurate techniques to overcome this issue will be revolutionary.</p> <br>
                    <p class="wow slideInRight">In this System, we present a technique in which system will tell the percentage that how many chances of disease when user select symptoms. Our system to interconnect the symptoms and rearrange them and retrieve the most probable diagnosis. This technique allows the system to self-learn. This presents a system for diagnosis of common diseases by entering the symptoms into the system.</p>
                    @*<ul class="list-unstyled">
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum enimdolor sit amet</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Explicabo deleniti neque aliquid</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Consectetur adipisicing elit</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum dolor sit amet</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Quo issimos molest quibusdam temporibus</li>
                    </ul>*@
                </div>
            </div>

        </div>
    </section>
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter"><h1 class="aligncenter">Appointments On Your Virtual Practice</h1>Your can confirm or cancel appointment requests or even reschedule upcoming appointments based. Your patients will be notified of their appointment  automatically and your appointment calendar will indicate the staus of all of your appointments</div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="post3">
                        <img src="~/content/img/e1.png" alt="">
                        <a href="#">
                            <time datetime="2015-03-01">
                                <span class="year">2020</span>
                                <span class="month">Feb</span>
                            </time>
                            <p>Lorem ipsum dolor sit amet, consectetur adipis.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post3">
                        <img src="~/content/img/e2.png" alt="">
                        <a href="#">
                            <time datetime="2015-03-01">
                                <span class="year">2021</span>
                                <span class="month">March</span>
                            </time>
                            <p>Apsum dolor sit amet, consectetur adipisdslif.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post3">
                        <img src="~/content/img/e3.png" alt="">
                        <a href="#">
                            <time datetime="2015-03-01">
                                <span class="year">2022</span>
                                <span class="month">April</span>
                            </time>
                            <p>Dolor sit amet, consectetur adipisic indfeft</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="text-align:center;">What Our Customers Says About Us</h2><br />
        </div>
        <ul class="valid-feedback">
            @foreach (var item in db.TBL_FEEDBACK)
            {
                <div class="col-lg-3">
                    <li><strong>  @item.FEEDBACK_EMAIL</strong></li>
                    <li><i>@item.FEEDBACK_DETAIL</i></li>  
            </div>
                
            }
        </ul>
    </div>
</div>
