
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">First Aid Guidance</h2>
            </div>
        </div>
    </div>
</section>
<section id="banner">
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/Content/img/slides/aid5.jpg" height="450"/>
             
                <div class="flex-caption container">
                    <h3>Immediate first aid can make a real difference</h3>
                </div>
            </li>
            <li>

                <img src="~/Content/img/slides/box.jpg" height="450"/>

                <div class="flex-caption container">
                    <h3>Take some time to learn FIRST AID and CPR. It saves lives and it works.</h3>
                </div>
            </li>
        </ul>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3>The Aim Of First Aid</h3>
                                <p></p>
                                <p>A simple way to remember the aims of first aid is to think of the “Three Ps”:</p>
                                <p>
                                    <ul>
                                        <li>Preserve</li>
                                        <li>Prevent</li>
                                        <li>Promote</li>
                                        


</ul> A first aider has a number of roles and responsibilities in an emergency situation but all first aiders should be aware of the key aims of first aid.

                                </p>
   
       @* <ul>
            <li class="item-thumbs col-lg-8 photography" data-id="id-2" data-type="graphic">
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="First Aid Guidance" href="img/works/1.jpg">
                    <span class="overlay-img"></span>
                    <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-search"></i></span>
                </a>
                <img src="~/Content/img/works/main.jpg" />
            </li>
        </ul>*@
    </div>
</div>
                            </div>
                        </div>
                    </div>
                    <p>
                        <h3> Preserve Life</h3>
                        Your first aim is to preserve life by carrying out emergency first aid procedures. For example, opening a victim’s airway or performing cardiopulmonary resuscitation (CPR).

                        Preserving life should always be the overall aim of all first aiders. Remember though, this includes your own life! You should never put yourself or others in danger.
                    </p>
                    <p>
                        <h3>Prevent Deterioration</h3>
                        The second aim of first aid is to prevent the victim’s condition from deteriorating any further. For example, asking a victim with a broken limb to stay still and padding around the injury will prevent the fracture from moving and causing further injury or pain.

                        In addition, this aim includes preventing further injuries. You should attempt to make the area as safe as possible and removing any potential dangers.

                        If removing danger is not possible you should attempt to remove the patient from the danger or call for specialist help.

                       <h3> Promote Recovery</h3>
                        Finally, you can promote recovery by arranging prompt emergency medical help. In addition, simple first aid can significantly affect the long-term recovery of an injury. For example, quickly cooling a burn will reduce the risk of long-term scarring and will encourage early healing.

                    </p>
                </div>
            </div>
       

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="portfolio-categ filter">
                    <li class="all active"><a href="#">All</a></li>
                    <li class="web"><a href="#" title="">category 1</a></li>
                    <li class="icon"><a href="#" title="">category 2</a></li>
                    <li class="graphic"><a href="#" title="">category 3</a></li>
                </ul>
                <div class="clearfix">
                </div>
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs" class="portfolio">
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-2 design" data-id="id-0" data-type="web">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Incident" href="/firstaid/incident">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-search"></i></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/content/img/works/incident.jpg" alt="">
                            </li>
                            <li class="item-thumbs col-lg-2 design" data-id="id-1" data-type="icon">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Shock" href="/firstaid/shock">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-search"></i></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                
                                <img src="~/Content/img/works/shock2.jpg" />
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-2 design" data-id="id-2" data-type="web">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Infection" href="/firstaid/infection">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-search"></i></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/content/img/works/infection.jpg" alt="">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->

                            <li class="item-thumbs col-lg-2 photography" data-id="id-4" data-type="icon">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Unconcious" href="/firstaid/unconcious">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-search"></i></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/content/img/works/unc.jpg" alt="">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                           
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-2 photography" data-id="id-5" data-type="web">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Bleeding" href="/firstaid/bleeding">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-search"></i></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/content/img/works/bleeding.jpg" alt="">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-2 photography" data-id="id-6" data-type="graphic">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Burns" href="/firstaid/burn">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-search"></i></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="~/content/img/works/burns.jpg" alt="" height="125">
                            </li>
                            <!-- End Item Project -->
                            <li class="item-thumbs col-lg-2 design" data-id="id-7" data-type="icon">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Drowing" href="/firstaid/drowing">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-search"></i></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                
                                <img src="~/Content/img/works/drown.jpg"/>
                            </li>
                            <li class="item-thumbs col-lg-2 design" data-id="id-8" data-type="graphic">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Scaldes" href="/firstaid/scalds">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-search"></i></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                
                                <img src="~/Content/img/works/scaldss.png" />
                            </li>
                            
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
