@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Bleeding";
}
<div class="container">
    <br /><br />
          <center> <h2>Bleeding</h2></center>

    <br /><br />
          <u><h3>1. Internal bleeding</h3></u>
    <p>
        Blood is an incredibly important component of our body. To keep the body functioning, and to keep the organs supplied with oxygen, the body must have enough circulating blood volume. Blood consists of red blood cells (erythrocytes), which convey oxygen throughout the body; white blood cells (leucocytes), which fight introduced infection; platelets, which assist in the clotting process; and plasma, the fluid portion of blood. Green first aid logo<br /><br />

        Blood is moved around the body under pressure by the heart and blood vessels. Without an adequate blood volume and pressure, the human body soon collapses. Bleeding, or haemorrhage, poses a threat by causing both the volume and the pressure of the blood within the body to decrease through blood loss. Without adequate circulating blood, the body cannot receive a constant supply of oxygen and nutrients and so organs become damaged.<br /><br />

        Bleeding is one of the most common causes of death in accidents. There are two types of bleeding: external bleeding which is obvious and apparent; and internal bleeding where the bleeding is not apparent at the outset but may show itself later in the form of bleeding from the nose, ear, lungs or stomach.<br />

        <h3>Internal bleeding</h3>
        Internal bleeding is classified as either visible, in that the bleeding can be seen, or concealed, where no direct evidence of bleeding is obvious. Internal bleeding is always to be considered as a very serious matter, and urgent medical aid is necessary.
        <br />
        In most instances, obtaining an adequate history of the incident or illness will give the first aider the necessary clue as to whether internal bleeding may be present.
        Remember that current signs and symptoms, or the lack of them, do not necessarily indicate the casualty’s condition. Certain critical signs and symptoms may not appear until well after the incident due to the stealth of the bleed, and may only be detected by the fact that the casualty’s observations worsen despite there being no obvious cause.
    </p>
    <p>
        <h3>Visible internal bleeding</h3>
        Visible internal bleeding can vary in appearance depending on the site of the bleed:
        <br /> <b>Lungs</b> – frothy, bright red blood coughed up by the casualty

        <br /> <b> Stomach</b> – dark ‘coffee grounds’, or red blood, in vomitus

        <br /> <b>Intestine/Bowel</b> – dark, loose, foul smelling stools

        <br />  <b> Urinary Tract</b> – dark or red coloured urine

        <br />  <b>Ears </b>– bright, sticky blood or blood mixed with clear fluid

        <br />  <b>Bruising</b> – the tissues look dark due to the blood under the skin. Caused by blows from blunt instruments or by crushing.
        <br /><br />
        <img src="~/Content/img/works/bleed.jpg" class="col-sm-6" />
    </p>
    <div class="col-sm-12">
        <p>
            <h3> Signs and Symptoms of internal bleeding</h3><br />
            These signs and symptoms are similar to the signs and symptoms for shock
            <ul>
                <li>   pale, cool, clammy skin</li>
                <li> thirst</li>
                <li>rapid, weak pulse</li>
                <li>rapid, shallow breathing</li>
                <li>‘guarding’ of the abdomen</li>
                <li> pain</li>
                <li> nausea and vomiting</li>
                <li> visible swelling (‘distension’) of the abdomen</li>
                <li> gradually lapsing into shock</li>
                <br />
                
            </ul>
            <h3> First aid for internal bleeding</h3><br />
            <ol>
                <li> Call for emergency medical help</li>
                <li> Perform a primary survey</li>
                <li> If conscious -> treat for shock</li>
                <li> If unconscious -> recovery position</li>
                <li> Treat any injuries found</li>
                <li> Provide reassurance</li>
            </ol>
        </p>
    </div>
    <br /><br />
    <div class="col-sm-12">
   <u> <h3>2. External Bleeding</h3></u>
    <p>
        <h4> 1. Stop Bleeding</h4>
        <ul>
            <li> Apply direct pressure on the cut or wound with a clean cloth, tissue, or piece of gauze until bleeding stops.</li>
            <li>
                If blood soaks through the material, don’t remove it. Put more cloth or gauze on top of it and continue to apply pressure.
            </li>
            <li>
                If the wound is on the arm or leg, raise limb above the heart, if possible, to help slow bleeding.
            </li>
            <li>
            </li> Wash your hands again after giving first aid and before cleaning and dressing the wound.
            <li>
                Do not apply a tourniquet unless the bleeding is severe and not stopped with direct pressure.
            </li>
            <br />
        </ul>
        <h4> 2. Clean Cut or Wound</h4>
        <ul>
            <li>
                Gently clean with soap and warm water. Try to rinse soap out of wound to prevent irritation.
            </li>
            <li>
                Don’t use hydrogen peroxide or iodine, which can damage tissue.
            </li>
            <br />
        </ul>
        <h4> 3. Protect the Wound</h4>
        <ul>
            <li>
                Apply antibiotic cream to reduce risk of infection and cover with a sterile bandage.
            </li>
            <li>Change the bandage daily to keep the wound clean and dry.</li>
            <br />
        </ul>
        <h4> 4. When to Call a Doctor</h4>
        <ul>
            <li> The wound is deep or the edges are jagged or gaping open.</li>
            <li> The wound is on the person’s face.</li>
            <li> The wound has dirt or debris that won’t come out.</li>
            </li>
            <li>
                The wound shows signs of infection, such as redness, tenderness, or a thick discharge, or if the person runs a fever.
            <li>
                The area around the wound feels numb.
            </li>
            <li> Red streaks form around the wound.</li>
            <li>The wound is a result of an animal or human bite.</li>
            <li>
                The person has a puncture wound or deep cut and hasn’t had a tetanus shot in the past five years, or anyone who hasn’t had a tetanus shot in the past 10 years.
            </li>
        </ul><br /><br />
        <img src="~/Content/img/works/bleed ex.jpg" class="col-sm-6"/>
    </p>
</div>
</div>