
@{
    ViewBag.Title = "Burn";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<br />
<center><u><h2>First Aid For Burns</h2></u></center>
<div class="container">
    <h3>Burn</h3>
    <p>
        Burns are tissue damage from hot liquids, the sun, flames, chemicals, electricity, steam and other causes. Kitchen-related injuries from hot drinks, soups and microwaved foods are common among children.

        Major burns need emergency medical help. Minor burns can usually be treated with first aid.
        <br />
        <h3>  When to seek emergency care</h3>
        <b> Call 911 or seek immediate care for major burns</b>, which:
        <ul>
            <li>   Are deep, involving all layers of the skin</li>
            <li> Cause the skin to be dry and leathery</li>
            <li> May appear charred or have patches of white, brown or black</li>
            <li> Are larger than 3 inches (about 8 centimeters) in diameter</li>
            <li> Cover the hands, feet, face, groin, buttocks or a major joint, or encircles an arm or leg</li>
            <li>Are accompanied by smoke inhalation</li>
            <li> Begin swelling very quickly</li>
        </ul>
        <br />
        Electrical burns, including those caused by lightning, and major chemical burns need emergency medical care. A minor burn might need emergency care if it affects the eyes, mouth, hands or genital areas. Babies and older adults might need emergency care for minor burns as well.
        <h3>Treating major burns</h3>
        Until emergency help arrives:
        <ul>
            <li><b>   Protect the burned person from further harm.</b> If you can do so safely, make sure the person you're helping is not in contact with the source of the burn. For electrical burns, make sure the power source is off before you approach the burned person. Don't try to remove clothing stuck in the burn.</li>
            <li>
                <b>
                    Make certain that the person burned is breathing.
                </b> If needed, begin rescue breathing if you know how.
            </li>
            <li>
                <b>
                    Remove jewelry, belts and other tight items,
                </b> especially from the burned area and the neck. Burned areas swell quickly.
            </li>
            <li>
                <b>
                    Cover the burn.
                </b> Loosely cover the area with gauze or a clean cloth.
            </li>
            <li>
                <b>
                    Raise the burned area.
                </b> Lift the wound above heart level if possible.
            </li>
            <li>
                <b>  Watch for signs of shock.</b> Signs and symptoms include cool, clammy skin, weak pulse and shallow breathing.
            </li>
        </ul>
        <h3> Treating minor burns</h3>
        For minor burns:
        <ul>
            <li><b>  Cool the burn.</b> Hold the area under cool (not cold) running water for about 10 minutes. If the burn is on the face, apply a cool, wet cloth until the pain eases. For a mouth burn from hot food or drink, put a piece of ice in the mouth for a few minutes.</li>
            <li><b> Remove rings or other tight items from the burned area.</b> Try to do this quickly and gently, before the area swells.</li>
            <li><b> Don't break blisters.</b> Blisters help protect against infection. If a blister does break, gently clean the area with water and apply an antibiotic ointment.</li>
            <li><b> Apply lotion.</b> After the burn is cooled, apply a lotion, such as one with aloe vera or cocoa butter. This helps prevent drying and provides relief.</li>
            <li><b> Bandage the burn.</b> Cover the burn with a clean bandage. Wrap it loosely to avoid putting pressure on burned skin. Bandaging keeps air off the area, reduces pain and protects blistered skin.</li>
            <li><b> Remove rings or other tight items from the burned area.</b> Try to do this quickly and gently, before the area swells.</li>
            <li><b> If needed, take a nonprescription pain reliever</b>, such as ibuprofen (Advil, Motrin IB, others), naproxen sodium (Aleve) or acetaminophen (Tylenol, others)</li>
        </ul><br />
        <img src="~/Content/img/works/burnss.jpg" height="350" class="col-sm-6" />

        <img src="~/Content/img/works/burnsss.png"height="350" class="col-sm-6" />
    </p>


</div>
