
@{
    ViewBag.Title = "Drowing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<center><u><h2> First Aid For Drowning</h2></u></center>
<div class="container">
    <h3>  ​Drowning</h3>

    <h3>    What should you do when you see someone drowning?</h3>
    <ul>
        <li>   Get immediate help from those present.</li>
        <li>  Make sure that the area is clear for the lifeguard.</li>
        <li> Take the drowning person out of the water immediately if they are nearby, but if they are far you must not swim to them unless you are a skilled lifeguard.</li>
    </ul>

    <h3>    First Aid Measures:</h3>
    <ul>
        <li>  Place the drowning person on their back on a flat surface, and be careful when handling them as they may be unconscious after bumping their head against something</li>
        <li> Try to call the drowning person and shake their shoulders to make sure they are responding.</li>
        <li> If the person does not respond, check their breathing.</li>
        <li>  Ask someone to call the Red Crescent (997).</li>
        <li>   If the person is breathing: Place them in the recovery position and warm them up with clothes or blankets. Change their wet clothes while waiting for the ambulance.</li>
    </ul>

    <h3>  If the person is not breathing:</h3>
    <ul>
        <li>  Elevate the head by placing a hand on the forehead and another hand down the chin and lifting it gently to clear the airway.</li>
        <li>  Check their pulse by placing two fingers on the windpipe (Adam's apple).</li>
        <li>  Start artificial respiration (mouth-to-mouth resuscitation) straight away by slowly blowing into the mouth of the person 5 times (for 1.5 to 2 seconds) while observing their chest as it rises with each blow. Wait until the chest drops back before you blow into their mouth again.</li>
        <li>  Start cardiopulmonary resuscitation CPR (30 chest compressions).</li>
        <li>  Repeat mouth-to-mouth resuscitation twice then do CPR once, until the person wakes up or until the ambulance arrives.</li>
        <li>    If the drowning person starts breathing again before the ambulance arrives, they must be warmed up with clothes or blankets and their wet clothes must be changed.</li>
        <li>   Monitor the patient and keep checking their pulse and breathing until the ambulance arrives.</li>
    </ul>
    <br />
    <h3>Cardiopulmonary Resuscitation (CPR) Procedure:</h3>
    <p> Visit the following sites for further information:</p>
    <a href="http://www.heart.org/HEARTORG/CPRAndECC/CPR_UCM_001118_SubHomePage.jsp">
        *http://www.heart.org/HEARTORG/CPRAndECC/CPR_UCM_001118_SubHomePage.jsp
    </a><br />
    <a href="https://www.mayoclinic.org/first-aid/first-aid-cpr/basics/art-20056600">* https://www.mayoclinic.org/first-aid/first-aid-cpr/basics/art-20056600</a>
    <br />
    <a href="https://www.nhs.uk/Conditions/Accidents-and-first-aid/Pages/CPR.aspx">* https://www.nhs.uk/Conditions/Accidents-and-first-aid/Pages/CPR.aspx</a>
    <br />
    <a href="https://www.srca.org.sa/ar/Media/Awareness#prettyPhoto/8/">* https://www.srca.org.sa/ar/Media/Awareness#prettyPhoto/8/</a>
   
    <h3> For Further Detail</h3>
    <a href="https://www.moh.gov.sa/en/awarenessplateform/FirstAid/Documents/Drowning.pdf">* Drowing.pdf</a>
    <br /><br />
    <img src="~/Content/img/works/dr.jpg" height="350" class="col-sm-6"/>
    <img src="~/Content/img/works/d3.jpg"height="350" class="col-sm-6" />
</div>

