@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Incident";
}
<br />
<br />
<div class="container">
    <center> <h2 style="position:relative">Incident Management</h2></center><br /><br />
    <ol style="font-size:15px;">
        <li>
            <u> <h3>The Jaw Thrust Technique – a step by step guide</h3></u>
        </li>
        <p>
            The aim of the jaw thrust is to open the airway with minimal movement of the cervical spine. It should be performed by trained first aiders when there is a suspicion of a spinal cord injury. In these situations, performing a head tilt chin lift to open the airway would move the cervical spine and has the potential to cause further harm.
            <br />
            <h4> How to perform a jaw thrust</h4><br />
            <ol>
                <li> Kneel behind the casualty’s head, steady and support the head in the neutral position, head, neck and spine are aligned.</li>
                <li> Place your hands on each side of the face with your fingertips at the angle of the jaw (mandible)</li>
                <li> Gently lift the jaw to open the airway. Take care not to tilt the neck.</li>
                <li> The movement of the jaw moves the tongue forward in the mouth opening the airway</li>
                <li> Do not put fingers in the mouth to assist the jaw thrust.</li>
            </ol><br />
        </p>
        <div class="col-md-6">
            <img src="~/Content/img/works/jaw thurst.jpg" height="200" width="50" />
        </div>
        <br />
        <br />
        <div class="col-md-12">
            <br /><p>Performing a jaw thrust is a skill which should be formally taught and practiced often by first aiders and first responders. It is surprisingly difficult to maintain an adequate jaw thrust for a prolonged period of time!</p>
        </div>

        <br />
        <br />


        <div class="col-lg-12">
        <li>
            <u> <h3>How to Move an Injured Victim</h3></u><br />
            <p>
                As a general rule, you should not move a casualty from the place of the accident. You should only move a victim if he is in uncontrollable danger, if the safety of the situation is not assured, and if you are able to take action without placing yourself at risk. If necessary, move him to the nearest safe location. If the victim is conscious explain what you are going to do and ask for his cooperation.<br />

                If possible, support the casualty’s neck during the evacuation procedure. Twist the victim’s head, neck and body as little as possible. Try to use the correct technique, although quick removal may be the first priority. Try to shield the casualty from cold or heat, but only move him if he has spent a long time in a cold environment and is running a real risk as a result of this. Cover the victim casualty with a coat or a blanket to protect him from the cold. You can also use an insulation blanket. To protect the victim from heat, improvise a sunshade with a jacket, blanket or umbrella, or stand or sit in a position so that your shadow covers the casualty.<br /><br />

                <h4>Technique for Moving an Unconscious or Injured Victim</h4>
                <br /> There are many techniques taught to rescuers and first responders for moving a victim who is injured or unresponsive. You should always follow local protocols and guidelines. In addition, formal training should be undertaken before performing any moving and handling techniques.<br />

                The following method is one way of moving an unconscious victim with a single rescuer or first aider.
                <ol>
                    <li>
                        Lay the victim’s arms along his body
                    </li>

                    <li>
                        Kneel behind his head. Slide one hand under his neck and the other between his shoulder blades. Carefully lift his head and shoulders and slide yourself closer.
                    </li>

                    <li>
                        Raise the victim ’s back to bring him to a sitting position. Support his shoulders.
                    </li>

                    <li>
                        Put both hands under the victim ’s armpits and grip one of his forearms. Grasp the wrist with one hand and the forearm with the other.
                    </li>

                    <li>
                        Assume a crouching position without letting go of the victim’s arm. You now have the victim cradled between your legs. Press the victim ’s arm firmly against his chest.
                    </li>

                    <li>
                        With your back straight, stand and lift the casualty up. Walk backwards trailing the victim with you. Watch out for obstacles behind you.
                    </li>
                </ol>
            </p>
            <div class="col-md-8">
                <img src="~/Content/img/works/moving victim.jpg" height="250" width="100" />
            </div><br /><br /><br />

        </li>
        <div class="col-md-12">
            <br />
        <li>
            <u><h3>First aid for finger fractures and dislocations</h3></u>
            <br />
            <p>
                Fractures and dislocated fingers are common injuries, especially in contact and ball sports.<br />

                <br /> Injuries to the fingers can result in significant <b>loss of hand function</b>. Even the simple ‘trapped’ finger, if not diagnosed and treated promptly, can lead to decreased motion and a poor outcome. Finger fractures may appear relatively minor, however, given the intricate function of the fingers these injuries require<b> careful evaluation,</b> early diagnosis and appropriate treatment to ensure there is no permanent disability or deformity.<br />

                <br /> Fractures and dislocations of the phalanges (fingers) occur from a variety of mechanisms. In younger patients, these injuries are more likely to be sports-related, while older patients are likely to be injured by machinery or falls.<br />

                <br /> Finger dislocations are a common injury. Dislocations occur when the bones of the finger are<b> moved from their normal position,</b> causing damage to the ligaments surrounding the joint.<br />
            </p>
            <p>Finger dislocations can occur in any of the joints of any finger, but most often occurs in the middle knuckle of the little, ring, middle, or index finger. Dislocation of the finger joints (including the thumb) are commonly seen in ball sports, for example football, netball, basketball and cricket when the finger is hit on the end by the ball.</p>


            <img src="~/Content/img/works/fracture.jpg" class="col-md-6" />

            <br /><br />
            <p class="col-md-12">
                <br />Symptoms include deformity, impaired function, pain and immediate swelling followed by bruising.

                Fractures of the bones of the finger are less common than joint dislocations but often also occur as a result of being hit on the end of the finger in many ball sports. Pain, swelling and deformity may be felt and the break should be iced and immobilised.<br />

                Clinical presentation of finger fractures and dislocations depends primarily on the mechanism of injury. Crushing injuries to the fingertip commonly involve the nail bed in addition to the underlying distal bone.Finger splinting<br />

                Injuries at the joints usually present with swelling, bruising and reduced motion. Deformity may also be present at the joint as well as in the mid-section of the bone of a displaced, unstable fracture.<br />

                Finger fractures that are non-displaced or stable are usually simply treated by immobilisation, usually splinted to another finger, however, open or unstable may required addition hospital treatment, in some cases even surgery.<br />
            </p>
        </li>

</div>
<br />
<br />

<div class="col-md-12">
    <li>
        <u> <h3>First aid for spinal (neck and back) injuries</h3></u><br /><br />
        <p>
            The spinal column consists of a series of interconnected bones, called vertebrae, which enclose the spinal cord, an integral part of the central nervous system. It is the spinal cord, through its attached nerve roots, which provides the means by which we breathe, move and sense. The spinal cord acts like an ‘information highway’ connecting the brain to the rest of the body.Spinal anatomy

            Between each vertebrae are discs of cartilage that act as shock absorbers and allow the spinal column a degree of flexibility.<b> The spine is divided into five areas:</b>
            <ul>
                <li>   the cervical spine (neck), 7 vertebrae</li>
                <li> the thoracic spine (chest), 12 vertebrae</li>
                <li>    the lumbar spine (back), 5 vertebrae</li>
                <li>  fused vertebrae of the sacrum</li>
                <li> a small vertebra called the coccyx</li>
            </ul>
            <br />        Any injury to the spinal cord has serious ramifications for our ability to function normally, and a separation, or ‘lesion’, of the cord may cause quadriplegia, paraplegia, or chronic painful conditions, dependent on the location of the injury.<br />

            <br />    It is generally the case that a lesion high in the cervical spine can be irreversible or fatal. Damage to the spinal cord further down to the level of the upper two thoracic vertebrae usually indicates quadriplegia to varying degrees.<br />


            Lesions down to the lower thoracic vertebrae may give rise to paraplegia. Even if the casualty is not affected to these degrees of severity, spinal injury may cause chronic back pain and restricted spinal flexibility.<br />

            Spinal injuries can be caused by a variety of physical incidents. Common causes of spinal injuries are head injury, road accidents, a fall from a height, diving into shallow water, rugby scrum accidents, horse riding accidents and motorcycle accidents. Riders and pillion passengers are thrown unprotected to the roadway and invariably land heavily in an awkward manner, putting stress on the spinal column. It benefits the first aider to carefully assess the history of the incident and the mechanism of injury before applying active treatment.<br />

            <br /><h3> Signs and symptoms of a spinal injury</h3>
            <ul>
                <li> history of traumatic injury</li>
                <li> unnatural posture</li>
                <li>  may have pale, cool, clammy skin</li>
                <li> ‘tingling’, unusual, or absent feeling in limbs</li>
                <li>   absence of pain in limbs</li>
                <li>inability to move arms and/or legs</li>
                <li>  onset of shock</li>
            </ul>
            <br /><br />
            <img src="~/Content/img/works/spinal.jpg" class="col-md-6" height="250" />
            <br />

            <div class="col-md col-md-12">
                <h3> First aid treatment for a spinal injury</h3>
                <ol>
                    <li>  Call for emergency medical help</li>
                    <li>  Perform a primary survey</li>
                    <li>
                        Instruct the casualty to stay still, keep their head in line with their body (neutral alignment)
                    </li>
                    <li>
                        Check for and treat other injuries
                    </li>
                    <li>
                        If the casualty is unconscious, carefully place them into the recovery position
                    </li>
                    <li>  Monitor until further help arrives
                </ol><br /><br />
        </p>
</div></div></div>
</li>
 </ol>
</div>
</div>
