
@{
    ViewBag.Title = "Infection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<center><u><h2> First Aid For Infection</h2></u></center>
<br />
<div class="container">
    <h3> Infection Control</h3>
    <p>
        As First Aiders, we are trained to assist casualties who are sick or injured. The risk of cross infection is very low. However, every First Aider needs to take precautions with all first aid situations. The use of gloves, glasses and facemasks will protect both you and the casualty from the risk of infection. Bodily fluids can penetrate the body through open wounds, sores, cuts, the mouth and the eyes.<br />
        <h3>Common Types Of Infection</h3>
        <ul>
            <li>
                Colds
            </li>
            <li> Glandular fever</li>
            <li> Hepatitis</li>
            <li>Meningitis</li>
            <li>HIV infection</li>
            <li>
                Measles, Mumps, Chicken Pox
            </li>
        </ul>
        <h3>  How They Are Passed On</h3>
        <ul>
            <li>
                <b> Blood and body fluids –  </b> saliva, sneezing, vomit, pus from infected sores, urine, faeces, vaginal and seminal fluids.
            </li>
            <li>
                <b> Hypodermic needles –</b>sharing a needle, teaspoon, or being stabbed by an infected needle.
            </li>
            <li>
                Blood transfusions with infected blood or plasma.
            </li>
        </ul>
        <h3>  Before administering First Aid:</h3>
        <ul>
            <li>  Wash hands.</li>
            <li>Use latex, vinyl or disposable gloves.</li>
            <li> Use plastic apron.</li>
            <li> Use safety glasses to protect the eyes.</li>
            <li>Use a resuscitation mask if available.</li>
        </ul>
        <h3> During First Aid Treatment:</h3>
        <ul>
            <li> Wear gloves that are not thin, worn, or torn.</li>
            <li> Wear two pairs of gloves if possible.</li>
            <li> Do not cough or sneeze onto the casualty’s wounds.</li>
            <li>Use clean bandages and dressings.</li>
            <li>Clean wounds and try not to get dirt into them.</li>
            <li>  Wash off any body fluids immediately. If you are accidentally cut and there is blood</li>
            <li>  from the casualty near or in your cut, wash the cut immediately with running water, cover the wound and seek medical advice.</li>
        </ul>
        <h3> After Administering First Aid Treatment:</h3>
        <ul>
            <li> Dispose of gloves, blood soaked bandages and pads properly.</li>
            <li> Wash facemasks and any contaminated equipment in bleach. Soak them in the bleach solution for a minimum of 30 minutes.</li>
            <li> Wash hands thoroughly.</li>
            <li> Wash blood off any clothes or surfaces with bleach.</li>
        </ul>
        <h3>Contamination by Body Fluids:</h3><ul>
            <li><b> Eyes and mouth:</b> wash thoroughly with cold running water and seek medical advice immediately.</li>

            <li> <b> Hands:</b>Wash thoroughly with soap and running tap water. Wounds wash with antiseptic, cover and seek medical advice immediately.</li>
            injection
        </ul>
        <h3>Procedure for Needle Stick Injuries:</h3>
        <ul>
            <li>       Wash the injury immediately with cold running water.</li>
            <li>      Promote bleeding.</li>
            <li> Apply antiseptic solution to injury.</li>
            <li> Dress the wound.</li>
            <li> Go to the hospital immediately where they will arrange pathology tests and counselling.</li>
            <li> Try not to panic. The calmer you are the slower your heart will beat.</li>


        </ul><br />
        <img src="~/Content/img/works/infect.png"  height="300" class="col-md-6"/>
        <div class="col-md-12">
            <h3>  Disposal of Contaminated Materials:</h3>
            <b> ALWAYS WEAR A GOOD SET OF LATEX GLOVES WHEN DEALING WITH CONTAMINATED MATERIALS</b>
            <br />
            Dressings, gloves and bandages should be double bagged, ensuring they are securely sealed, and arrange for disposal. – Ambulance Station, Hospital, Doctor Surgery. Any used needle or syringe should be carefully placed in a sharps or plastic container, and then the container placed in a plastic bag and your local council contacted for details of removal or take them to your local chemist, doctor’s surgery, hospital, or ambulance station for disposal. Body fluids should be cleaned up with absorbent paper towelling or rags, and then double bagged in plastic bags ensuring they are securely sealed, and disposed of carefully.
        </div> </p>
</div>
