
@{
    ViewBag.Title = "Shock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br\></br\>
<center><u><h2 > First Aid For Shock</h2></u></center><br />
<div class="container">
    <p>
        Shock is a critical condition brought on by the sudden drop in blood flow through the body. Shock may result from trauma, heatstroke, blood loss, an allergic reaction, severe infection, poisoning, severe burns or other causes. When a person is in shock, his or her organs aren't getting enough blood or oxygen.<b> If untreated, this can lead to permanent organ damage or even death.</b>
    </p>
    <p>
        <h3 > Signs And Symptoms</h3>
        Signs and symptoms of shock vary depending on circumstances and may include:
        <br />
        <ul>
            <li>
                Cool, clammy skin
            </li>
            <li>   Pale or ashen skin</li>
            <li> Bluish tinge to lips or fingernails (or gray in the case of dark complexions)</li>
            <li> Rapid pulse</li>
            <li> Rapid breathing</li>
            <li> Nausea or vomiting</li>
            <li> Enlarged pupils</li>
            <li> Weakness or fatigue</li>
            <li> Dizziness or fainting</li>
            <li>
                Changes in mental status or behavior, such as anxiousness or agitation
            </li>
        </ul>
      
        <h3 >Seek Emergency Medical Care</h3>
        If you suspect a person is in shock,<b> call 911</b> or your local emergency number. Then immediately take the following steps:
                                        <br />   
        <ul>
                                                <li>
                                                    Lay the person down and elevate the legs and feet slightly, unless you think this may cause pain or further injury.
                                                </li>
                                                <li> Keep the person still and don't move him or her unless necessary.</li>
                                                <li> Begin CPR if the person shows no signs of life, such as not breathing, coughing or moving.</li>
                                                <li> Loosen tight clothing and, if needed, cover the person with a blanket to prevent chilling.</li>
                                                <li> Don't let the person eat or drink anything.</li>
                                                <li> If you suspect that the person is having an allergic reaction, and you have access to an epinephrine autoinjector, use it according to its instructions.</li>
                                                <li>If the person is bleeding, hold pressure over the bleeding area, using a towel or sheet.</li>
                                                <li> If the person vomits or begins bleeding from the mouth, and no spinal injury is suspected, turn him or her onto a side to prevent choking.</li>
                                                
                                            </ul>
    </p><br />
    <img src="~/Content/img/works/shock t.jpg"  height="350" class="col-md-8"/>
</div>
