
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Unconcious";
}
<br /><br />
<center><u><h2>First Aid For Unconcious</h2></u></center>
<br />
<div class="container">
    <h3>Unconcious</h3>
    <p>
        Unconsciousness is when a person is unable to respond to people and activities. Doctors often call this a coma or being in a comatose state.

        Other changes in awareness can occur without becoming unconscious. These are called altered mental status or changed mental status. They include sudden confusion, disorientation, or stupor.

        Unconsciousness or any other sudden change in mental status must be treated as a medical emergency.

    </p>
    <h3>Causes</h3>
    <p>
        Unconsciousness can be caused by nearly any major illness or injury. It can also be caused by substance (drug) and alcohol use. Choking on an object can result in unconsciousness as well.

        Brief unconsciousness (or fainting) is often a result from dehydration, low blood sugar, or temporary low blood pressure. It can also be caused by serious heart or nervous system problems. A doctor will determine if the affected person needs tests.

        Other causes of fainting include straining during a bowel movement (vasovagal syncope), coughing very hard, or breathing very fast (hyperventilating).
    </p>
    <h3>What To do First</h3>
    <ul>
        If someone seems unconscious or unresponsive, the first thing to do is ask if they are OK in a loud voice. If they don’t respond, gently shake them. But if they might have a spinal cord injury, it is best not to move the person until emergency services arrive.

        <b> If a person still does not respond</b>, follow these steps in this order:

        <li>
            Check that their airway is open, without signs of a blockage, such as labored or high-pitched breathing
        </li>
        <li>
            Look for signs that they are breathing.
        </li>
        <li>
            Check for a pulse or heartbeat.
        </li>
        Next, call or have someone else call emergency medical services. In the United States, dial 911. Do this if the person:
        <li>
            has no pulse or a weak one
        </li>
        <li> does not seem to be breathing</li>
        <li>
            does not respond or regain consciousness within 1 minute
            appears to be severely injured, due to heavy bleeding
        </li>, for example
        Do not hang up on the emergency services representative until they ask you to.

    </ul>
    <h3>First Aid Steps</h3>
    Before beginning any first aid steps, it is essential to tell whether the unconscious person is breathing or not.
<br />
<h3>If the person is breathing</h3>
<p>
    If the person is conscious but seems dazed, ask them basic questions, such as what their name and birthday are or what today’s date is.

    If the person is unable to answer correctly, they may be experiencing a change in mental status. Share this information with the emergency services representative.

    If the person may have a spinal injury, leave them as they are. Take steps to keep their neck supported and still.
    <br />
    If the person is breathing and it is unlikely that they have a spinal injury, roll them into a recovery position on their side. Adjust their legs so their hips and knees form right angles. Tilt their head gently back to help keep their airway open.

   <h3> If the person is not breathing</h3>
    If an unconscious person is not breathing, it may be necessary to move them carefully onto their back while protecting their neck, so they can receive cardiopulmonary resuscitation (CPR). We describe how to give CPR in the next section.

    Call 911 before administering CPR.

    If the person is moving, coughing, or breathing, this is a good sign. If none of these things happen, continue giving CPR until emergency assistance arrives.

    If something is visible at the back of the throat or high in the throat, and it is blocking the airway, try to remove it by using one finger to sweep the mouth. Do not try to sweep away or grab anything that is not visible.

   <br /> If the person is not breathing and has something lodged in their throat, continue performing the chest compressions of CPR and checking to see whether the object has dislodged.

    <h3>If the person is bleeding</h3>
    If the unconscious person is bleeding heavily, locate the injury and place strong, direct pressure on the wounded area to slow the flow of blood. Anyone who knows how should apply a tourniquet above the bleeding area to slow the bleeding until emergency services arrive.

    <h3>How to perform CPR</h3>
    <p> This video demostrate that how to perform CPR.</p>
    <b><h4> <a href="https://youtu.be/cosVBV96E2g">Watch Video</a></h4></b>
    <br />
    <img src="~/Content/img/works/cpr.png"  height="300" class="col-md-6"/>
    <div class="col-md-12">
        <h3>
            What not to do
        </h3>
        There are also some things to avoid when administering first aid:
        <ul>
            <li>  Do not put a cushion under an unconscious person’s head, as it may disrupt their breathing.</li>
            <li>Do not try to get them to sit up.</li>
            <li> Do not splash an unconscious person with water.</li>
            <li>Do not slap them.</li>
            <li> Do not try to get them to drink water or any other liquid.</li>
            <li> Do not try to grab or sweep away anything lodged in the throat that is not visible. This can cause it to become lodged deeper.</li>
            <li>Do not leave an unconscious person unattended.</li>
        </ul>
    </div>

</p>



</div>